.puppyfw-remove {
	display: block;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	position: relative;
	background-color: #d54e21;

	&:before {
		content: " ";
		display: block;
		height: 2px;
		width: 6px;
		background-color: #fff;
		position: absolute;
		top: 7px;
		left: 5px;
		z-index: 1;
	}
}
